<div class="form-field">
    <label>Nombres: </label>
    <div>
        <InputText @bind-Value="Estudiante.Nombres"/><br/>
        <ValidationMessage For="()=>Estudiante.Nombres"/>
    </div>
    
</div>
<div class="form-field">
    <label>Semestre: </label>
    <div>
        <InputNumber @bind-Value="Estudiante.Semestre"/><br/>
        <ValidationMessage For="()=>Estudiante.Semestre"/>
    </div>
</div>
<div class="form-field">
    <label>Nacionalidad: </label>
    <div>
        <InputText @bind-Value="Estudiante.Nacionalidad"/><br/>
        <ValidationMessage For="()=>Estudiante.Nacionalidad"/>
    </div>
</div>

@code {
    [Parameter] public Estudiante Estudiante { get; set; }
}